# ==========================================
# C/C++ Base
# ==========================================

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ==========================================
# CMake
# ==========================================

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Ignore standard CMake out-of-source build folders
/build/
/build32/
/build64/
/out/
/bin/

# ==========================================
# Microsoft Visual Studio
# ==========================================

.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.ncb
*.sdf
*.db
*.ipch

# Debug & Profiling artifacts
*.ilk
*.pdb
*.idb
*.exp
*.pgc
*.pgd

# ==========================================
# ANTLR4 Generator Artifacts
# ==========================================

/generated/
*.tokens
*.interp
tools/SimdBridgeTable.inl
tools/SimdBridges.h
